.button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

.button:active {
    transform: scale(0.97);
}

.button:disabled {
    transform: scale(1);
    background-color: rgb(187, 186, 186);
    color: white;
}

.button:disabled:hover {
    transform: scale(1);
    background-color: rgb(187, 186, 186);
    color: white;
}
